In [1]:
import numpy as np

In [2]:
N = 1000000
bootstrap = np.random.choice(N, N, replace=True)
np.round(len(set(bootstrap))/N, 3)

0.632

# Bagging

In [8]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [9]:
data = pd.read_csv('./data/kc_house_data.csv')
data.head()

,id,date,price,bedrooms,bathrooms,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode,lat,long
0,7129300520,20141013T000000,221900.0,3,1.00,1.0,0,3,7,1955,0,98178,47.5112,-122.257
1,6414100192,20141209T000000,538000.0,3,2.25,2.0,0,3,7,1951,1991,98125,47.7210,-122.319
2,5631500400,20150225T000000,180000.0,2,1.00,1.0,0,3,6,1933,0,98028,47.7379,-122.233
3,2487200875,20141209T000000,604000.0,4,3.00,1.0,0,5,7,1965,0,98136,47.5208,-122.393
4,1954400510,20150218T000000,510000.0,3,2.00,1.0,0,3,8,1987,0,98074,47.6168,-122.045

* id : 집 고유 아이디
* data : 집이 팔린 날짜
* price : 집 가격
* bedrooms : 가구당 침실 개수
* bathrooms : 가구당 화장실 개수
* floors : 전체 층 수
* waterfront : 해변이 시야에 들어옴(0, 1)
* condition : 집 청소 상태(1~5)
* grade : 평점
* yr_bulit : 집이 지어진 년도
* yr_renovated : 집이 리모델링 된 년도
* zipcode : 우편 번호
* lat : 위도
* long : 경도

In [10]:
data.shape

(21613, 14)

In [11]:
# 의미가 없는 변수 제거 : id, date, zipcode, lat, long
data = data.drop(['id', 'date', 'zipcode', 'lat', 'long'], axis=1)
data.head()

,price,bedrooms,bathrooms,floors,waterfront,condition,grade,yr_built,yr_renovated
0,221900.0,3,1.00,1.0,0,3,7,1955,0
1,538000.0,3,2.25,2.0,0,3,7,1951,1991
2,180000.0,2,1.00,1.0,0,3,6,1933,0
3,604000.0,4,3.00,1.0,0,5,7,1965,0
4,510000.0,3,2.00,1.0,0,3,8,1987,0

In [14]:
feature_columns = list(data.columns.difference(['price']))
feature_columns

['bathrooms',
 'bedrooms',
 'condition',
 'floors',
 'grade',
 'waterfront',
 'yr_built',
 'yr_renovated']

In [18]:
X = data[feature_columns]
y = data['price']
print(X.shape, y.shape)

(21613, 8) (21613,)

In [21]:
# 학습 데이터와 평가 데이터 분리
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=42)
print(train_X.shape, test_X.shape, train_y.shape, test_y.shape)

(15129, 8) (6484, 8) (15129,) (6484,)

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt

In [25]:
regression_model = LinearRegression()
linear_model1 = regression_model.fit(train_X, train_y)
predict1 = linear_model1.predict(test_X)
print('RMSE: {}'.format(sqrt(mean_squared_error(predict1, test_y))))

RMSE: 239804.2967085815

In [26]:
from sklearn.ensemble import BaggingRegressor

In [27]:
bagging_model = BaggingRegressor(base_estimator=regression_model, n_estimators=100)
linear_model2 = bagging_model.fit(train_X, train_y)
predict2 = linear_model2.predict(test_X)
print('RMSE: {}'.format(sqrt(mean_squared_error(predict2, test_y))))

RMSE: 239825.19836167851

In [29]:
from sklearn.tree import DecisionTreeRegressor
decision_tree_model = DecisionTreeRegressor()
tree_model1 = decision_tree_model.fit(train_X, train_y)
predict1 = tree_model1.predict(test_X)
print('RMSE: {}'.format(sqrt(mean_squared_error(predict1, test_y))))

RMSE: 297402.8731512593

In [35]:
bagging_decision_tree_model1 = BaggingRegressor(
    base_estimator=decision_tree_model,
    n_estimators=65,
    verbose=1,
    n_jobs=-1
)
tree_model2 = bagging_decision_tree_model1.fit(train_X, train_y)
predict2 = tree_model2.predict(test_X)
print('RMSE: {}'.format(sqrt(mean_squared_error(predict2, test_y))))

[Parallel(n_jobs=12)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done   2 out of  12 | elapsed:    0.4s remaining:    2.0s
[Parallel(n_jobs=12)]: Done  12 out of  12 | elapsed:    0.6s finished
[Parallel(n_jobs=12)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done   2 out of  12 | elapsed:    0.1s remaining:    0.3s

RMSE: 232337.6022464481

[Parallel(n_jobs=12)]: Done  12 out of  12 | elapsed:    0.2s finished

# Randomforset

In [36]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [37]:
data = pd.read_csv('./data/otto_train.csv')
data.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

* id : 고유 아이디
* feat_1 ~ feat_93 : 설명변수
* target : 타겟변수(Class_1 ~ Class_9)

In [38]:
data.shape

(61878, 95)

In [39]:
data = data.drop(['id'], axis=1)
data.head()

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [40]:
data.tail()

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
61873,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61874,4,0,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61875,0,0,0,0,0,0,0,3,1,0,...,0,3,1,0,0,0,0,0,0,Class_9
61876,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

In [42]:
mapping_dict = {'Class_1': 1, 'Class_2': 2, 'Class_3': 3, 'Class_4': 4, 'Class_5': 5,
               'Class_6': 6, 'Class_7': 7, 'Class_8': 8, 'Class_9': 9}

In [43]:
after_mapping_target = data['target'].apply(lambda x: mapping_dict[x])
after_mapping_target

0        1
1        1
2        1
3        1
4        1
        ..
61873    9
61874    9
61875    9
61876    9
61877    9
Name: target, Length: 61878, dtype: int64

In [49]:
feature_columns = list(data.columns.difference(['target']))
X = data[feature_columns]
y = after_mapping_target
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=42)
print(train_X.shape, test_X.shape, train_y.shape, test_y.shape)

(49502, 93) (12376, 93) (49502,) (12376,)

In [51]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [53]:
random_forset_model1 = RandomForestClassifier(n_estimators=20, max_depth=5, random_state=42)
model1 = random_forset_model1.fit(train_X, train_y)
predict1 = model1.predict(test_X)
print('Accuracy: %.2f'%(accuracy_score(test_y, predict1)* 100), '%')

Accuracy: 60.16 %

In [59]:
random_forset_model2 = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
model2 = random_forset_model2.fit(train_X, train_y)
predict2 = model2.predict(test_X)
print('Accuracy: %.2f'%(accuracy_score(test_y, predict2)* 100), '%')

Accuracy: 62.44 %

In [62]:
random_forset_model3 = RandomForestClassifier(n_estimators=100, max_depth=15, random_state=42)
model3 = random_forset_model3.fit(train_X, train_y)
predict3 = model3.predict(test_X)
print('Accuracy: %.2f'%(accuracy_score(test_y, predict3)* 100), '%')

Accuracy: 75.44 %

# Adaboost

In [63]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [66]:
tree_model = DecisionTreeClassifier(max_depth=5)
Adaboost_model1 = AdaBoostClassifier(base_estimator=tree_model, n_estimators=20, random_state=42)
model1 = Adaboost_model1.fit(train_X, train_y)
predict1 = model1.predict(test_X)
print('Accuracy: %.2f'%(accuracy_score(test_y, predict1)* 100), '%')

Accuracy: 63.23 %

In [67]:
tree_model = DecisionTreeClassifier(max_depth=10)
Adaboost_model1 = AdaBoostClassifier(base_estimator=tree_model, n_estimators=300, random_state=42)
model1 = Adaboost_model1.fit(train_X, train_y)
predict1 = model1.predict(test_X)
print('Accuracy: %.2f'%(accuracy_score(test_y, predict1)* 100), '%')

Accuracy: 74.43 %

In [74]:
# !pip install xgboost

Requirement already satisfied: xgboost in /Users/jaehyeong/opt/anaconda3/lib/python3.8/site-packages (1.5.1)
Requirement already satisfied: numpy in /Users/jaehyeong/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.20.1)
Requirement already satisfied: scipy in /Users/jaehyeong/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.6.2)

In [76]:
import xgboost as xgb
import time

XGBoostError:
XGBoost Library (libxgboost.dylib) could not be loaded.
Likely causes:
  * OpenMP runtime is not installed
    - vcomp140.dll or libgomp-1.dll for Windows
    - libomp.dylib for Mac OSX
    - libgomp.so for Linux and other UNIX-like OSes
    Mac OSX users: Run `brew install libomp` to install OpenMP runtime.

  * You are running 32-bit Python on a 64-bit OS

Error message(s): ["dlopen(/Users/jaehyeong/opt/anaconda3/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib, 0x0006): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib\n  Referenced from: /Users/jaehyeong/opt/anaconda3/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib\n  Reason: tried: '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/lib/libomp.dylib' (no such file), '/usr/lib/libomp.dylib' (no such file)"]

In [77]:
start = time.time()
xgb_dtrain = xgb.DMatrix(data=train_X, label=train_y)
xgb_dtest = xgb.DMatrix(data=test_X)
xgb_param = {'max_depth': 10,
             'learning_rate': 0.01,
             'n_estimators': 100,
             'objective': 'multi:softmax',
             'num_class': len(set(train_y))+1
            }
xgb_model = xgb.train(parans=xgb_param, dtrain=xgb_dtrain)
xgb_model_predict = xgb_model.predict(xgb_dtest)
print('Accuracy: %.2f'%(accuracy_score(test_y, xgb_model_predict)* 100), '%')
print('Time: %.2f'%(time.time()-start), 'seconds')

NameError: name 'time' is not defined

In [80]:
# !pip install lightgbm

In [82]:
import lightgbm as lgb

OSError: dlopen(/Users/jaehyeong/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so, 0x0006): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib
  Referenced from: /Users/jaehyeong/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so
  Reason: tried: '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/lib/libomp.dylib' (no such file), '/usr/lib/libomp.dylib' (no such file)

In [83]:
start = time.time()
lgb_dtrain = lgb.Dataset(data=train_X, label=train_y)
lgb_params = {'max_depth': 10,
             'learning_rate': 0.01,
             'n_estimators': 100,
             'objective': 'multiclass',
             'num_class': len(set(train_y))+1
            }
lgb_model = lgb.train(parmas=lgb_params, train_set = lgb_dtrain)
lgb_model_predict = np.argmax(lgb_model.predict(test_X), axis=1)

print('Accuracy: %.2f'%(accuracy_score(test_y, lgb_model_predict)* 100), '%')
print('Time: %.2f'%(time.time()-start), 'seconds')

NameError: name 'time' is not defined

In [85]:
# !pip install catboost

In [87]:
import catboost as cb
import time

In [88]:
start = time.time()
cb_dtrain = cb.Pool(data=train_X, label=train_y)
cb_params = {'max_depth': 10,
             'learning_rate': 0.01,
             'n_estimators': 100,
             'eval_metric': 'Accuracy',
             'loss_function': 'MultiClass'
            }
cb_model = cb.train(pool=cb_dtrain, params=cb_params)
cb_model_predict = np.argmax(cb_model.predict(test_X), axis=1)+1

print('Accuracy: %.2f'%(accuracy_score(test_y, cb_model_predict)* 100), '%')
print('Time: %.2f'%(time.time()-start), 'seconds')

0:	learn: 0.5907034	total: 387ms	remaining: 38.4s
1:	learn: 0.6356107	total: 727ms	remaining: 35.6s
2:	learn: 0.6411256	total: 1.02s	remaining: 32.9s
3:	learn: 0.6480344	total: 1.32s	remaining: 31.7s
4:	learn: 0.6508222	total: 1.58s	remaining: 30.1s
5:	learn: 0.6499939	total: 1.87s	remaining: 29.3s
6:	learn: 0.6507818	total: 2.2s	remaining: 29.2s
7:	learn: 0.6548422	total: 2.53s	remaining: 29.1s
8:	learn: 0.6559533	total: 2.82s	remaining: 28.6s
9:	learn: 0.6560947	total: 3.08s	remaining: 27.7s
10:	learn: 0.6568421	total: 3.33s	remaining: 26.9s
11:	learn: 0.6588219	total: 3.72s	remaining: 27.3s
12:	learn: 0.6592259	total: 4.07s	remaining: 27.2s
13:	learn: 0.6611248	total: 4.41s	remaining: 27.1s
14:	learn: 0.6625591	total: 4.74s	remaining: 26.9s
15:	learn: 0.6631853	total: 5.08s	remaining: 26.7s
16:	learn: 0.6639328	total: 5.36s	remaining: 26.2s
17:	learn: 0.6668821	total: 5.63s	remaining: 25.6s
18:	learn: 0.6669630	total: 5.88s	remaining: 25.1s
19:	learn: 0.6675286	total: 6.14s	remaining: 24.6s
20:	learn: 0.6673266	total: 6.42s	remaining: 24.2s
21:	learn: 0.6677104	total: 6.68s	remaining: 23.7s
22:	learn: 0.6682558	total: 6.95s	remaining: 23.3s
23:	learn: 0.6683972	total: 7.2s	remaining: 22.8s
24:	learn: 0.6686599	total: 7.47s	remaining: 22.4s
25:	learn: 0.6681952	total: 7.73s	remaining: 22s
26:	learn: 0.6684982	total: 7.99s	remaining: 21.6s
27:	learn: 0.6692053	total: 8.26s	remaining: 21.3s
28:	learn: 0.6696699	total: 8.53s	remaining: 20.9s
29:	learn: 0.6699325	total: 8.81s	remaining: 20.5s
30:	learn: 0.6705992	total: 9.09s	remaining: 20.2s
31:	learn: 0.6709426	total: 9.38s	remaining: 19.9s
32:	learn: 0.6708012	total: 9.65s	remaining: 19.6s
33:	learn: 0.6709426	total: 9.93s	remaining: 19.3s
34:	learn: 0.6707002	total: 10.3s	remaining: 19.1s
35:	learn: 0.6715082	total: 10.6s	remaining: 18.8s
36:	learn: 0.6705992	total: 10.9s	remaining: 18.5s
37:	learn: 0.6725991	total: 11.1s	remaining: 18.2s
38:	learn: 0.6729829	total: 11.5s	remaining: 18s
39:	learn: 0.6725991	total: 11.7s	remaining: 17.6s
40:	learn: 0.6734273	total: 12.1s	remaining: 17.4s
41:	learn: 0.6738314	total: 12.3s	remaining: 17.1s
42:	learn: 0.6741546	total: 12.6s	remaining: 16.7s
43:	learn: 0.6739728	total: 12.9s	remaining: 16.4s
44:	learn: 0.6741950	total: 13.2s	remaining: 16.1s
45:	learn: 0.6750636	total: 13.4s	remaining: 15.8s
46:	learn: 0.6758919	total: 13.8s	remaining: 15.6s
47:	learn: 0.6757707	total: 14.1s	remaining: 15.3s
48:	learn: 0.6762151	total: 14.4s	remaining: 15s
49:	learn: 0.6774474	total: 14.7s	remaining: 14.7s
50:	learn: 0.6777100	total: 15s	remaining: 14.4s
51:	learn: 0.6786594	total: 15.3s	remaining: 14.1s
52:	learn: 0.6789827	total: 15.6s	remaining: 13.8s
53:	learn: 0.6804372	total: 15.8s	remaining: 13.5s
54:	learn: 0.6804372	total: 16.1s	remaining: 13.2s
55:	learn: 0.6809220	total: 16.4s	remaining: 12.9s
56:	learn: 0.6812250	total: 16.6s	remaining: 12.6s
57:	learn: 0.6813058	total: 16.9s	remaining: 12.2s
58:	learn: 0.6811846	total: 17.2s	remaining: 11.9s
59:	learn: 0.6813260	total: 17.5s	remaining: 11.7s
60:	learn: 0.6816694	total: 17.8s	remaining: 11.4s
61:	learn: 0.6823159	total: 18.1s	remaining: 11.1s
62:	learn: 0.6832653	total: 18.4s	remaining: 10.8s
63:	learn: 0.6840734	total: 18.7s	remaining: 10.5s
64:	learn: 0.6840734	total: 19s	remaining: 10.2s
65:	learn: 0.6846592	total: 19.3s	remaining: 9.95s
66:	learn: 0.6843360	total: 19.7s	remaining: 9.7s
67:	learn: 0.6846390	total: 20s	remaining: 9.4s
68:	learn: 0.6854269	total: 20.3s	remaining: 9.11s
69:	learn: 0.6858309	total: 20.6s	remaining: 8.81s
70:	learn: 0.6858309	total: 20.9s	remaining: 8.52s
71:	learn: 0.6865783	total: 21.1s	remaining: 8.21s
72:	learn: 0.6864167	total: 21.4s	remaining: 7.9s
73:	learn: 0.6868611	total: 21.7s	remaining: 7.63s
74:	learn: 0.6869217	total: 22s	remaining: 7.34s
75:	learn: 0.6870429	total: 22.3s	remaining: 7.04s
76:	learn: 0.6875278	total: 22.7s	remaining: 6.77s
77:	learn: 0.6881136	total: 23s	remaining: 6.47s
78:	learn: 0.6883762	total: 23.3s	remaining: 6.2s
79:	learn: 0.6888207	total: 23.6s	remaining: 5.89s
80:	learn: 0.6892449	total: 23.8s	remaining: 5.59s
81:	learn: 0.6898509	total: 24.1s	remaining: 5.29s
82:	learn: 0.6897095	total: 24.3s	remaining: 4.99s
83:	learn: 0.6902549	total: 24.6s	remaining: 4.69s
84:	learn: 0.6909822	total: 24.9s	remaining: 4.39s
85:	learn: 0.6910832	total: 25.2s	remaining: 4.09s
86:	learn: 0.6914468	total: 25.4s	remaining: 3.8s
87:	learn: 0.6916084	total: 25.7s	remaining: 3.5s
88:	learn: 0.6919922	total: 26s	remaining: 3.22s
89:	learn: 0.6925579	total: 26.3s	remaining: 2.92s
90:	learn: 0.6928407	total: 26.7s	remaining: 2.64s
91:	learn: 0.6930427	total: 27s	remaining: 2.34s
92:	learn: 0.6935073	total: 27.2s	remaining: 2.05s
93:	learn: 0.6940932	total: 27.6s	remaining: 1.76s
94:	learn: 0.6944972	total: 27.9s	remaining: 1.47s
95:	learn: 0.6948810	total: 28.1s	remaining: 1.17s
96:	learn: 0.6951840	total: 28.4s	remaining: 878ms
97:	learn: 0.6954264	total: 28.7s	remaining: 585ms
98:	learn: 0.6955881	total: 28.9s	remaining: 292ms
99:	learn: 0.6956285	total: 29.2s	remaining: 0us
Accuracy: 69.64 %
Time: 29.36 seconds

In [90]:
data = pd.read_csv('./data/kc_house_data.csv')
data = data.drop(['id', 'date', 'zipcode', 'lat', 'long'], axis=1)
feature_columns = list(data.columns.difference(['price']))
X = data[feature_columns]
y = data['price']
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=42)

In [94]:
import random
bagging_predict_result = []
for _ in range(10):
    data_index = [data_index for data_index in range(train_X.shape[0])]
    random_data_index = np.random.choice(data_index, train_X.shape[0])
    print(len(set(random_data_index)))
    lgb_dtrain = lgb.Dataset(data=train_X.iloc[random_data_index,], label=train_y.iloc[random_data_index,])
    lgb_param = {'max_depth': 14,
                 'learning_rate': 0.01,
                 'n_estimators': 500,
                 'objective': 'regression'
                }
    lgb_model = lgb.train(params=lgb_param, train_set=lgb_dtrain)
    predict1 = lgb_model.predict(test_X)
    bagging_predict_result.append(predict1)
    print(sqrt(mean_squared_error(lgb_model.predict(test_X), test_y)))

9607

NameError: name 'lgb' is not defined