In [2]:
import pandas as pd

In [19]:
comment = pd.read_csv('./m_coment.csv', encoding='CP949')

In [20]:
comment.head()

,id,title,user_id,user_name,reple_score,text
0,213746,장민호 드라마 최종회,17923077,은하수(kys6****),10,콘서트에서 느낀 감정과 또 다르게 감동적이었습니다 외모 연기 가창력짙은 호소력 어느...
1,213746,장민호 드라마 최종회,17923103,09s(09st****),10,"멋진 외모에 안구정화, 감성 깊은 노래에 귀정화최고의 감동이예요^^"
2,213746,장민호 드라마 최종회,17923073,폴에버리치(opch****),10,노래할 때 세밀한 표정 가 볼 수 있어 너무 좋았어요 여기 최고의 가수
3,213746,장민호 드라마 최종회,17923060,라나(8794****),10,재미와 감동이있습니다
4,213746,장민호 드라마 최종회,17923054,현서(jizw****),10,너무 재밌었어요!! 제가 아는 노래가 많이 나와서 엄청 좋았어요!! 엄마한테 겨우 ...

In [63]:
comment['user_id'] = comment['user_id'].str.replace(',','')

In [64]:
comment['text'] = comment['text'].str.replace(',','')

In [69]:
comment.rename(columns={'id': 'movie_id',
                        'user_id': 'comment_userId',
                        'user_name': 'comment_userName',
                        'reple_score': 'comment_point',
                        'text': 'comment_contents'}, inplace=True)

In [70]:
comment = comment[['movie_id', 'comment_userId', 'comment_userName', 'comment_point', 'comment_contents']]

In [71]:
comment

,movie_id,comment_userId,comment_userName,comment_point,comment_contents
0,213746,17923077,은하수(kys6****),10,콘서트에서 느낀 감정과 또 다르게 감동적이었습니다 외모 연기 가창력짙은 호소력 어느...
1,213746,17923103,09s(09st****),10,멋진 외모에 안구정화 감성 깊은 노래에 귀정화최고의 감동이예요^^
2,213746,17923073,폴에버리치(opch****),10,노래할 때 세밀한 표정 가 볼 수 있어 너무 좋았어요 여기 최고의 가수
3,213746,17923060,라나(8794****),10,재미와 감동이있습니다
4,213746,17923054,현서(jizw****),10,너무 재밌었어요!! 제가 아는 노래가 많이 나와서 엄청 좋았어요!! 엄마한테 겨우 ...
...,...,...,...,...,...
199895,37716,13447335,KH(hwal****),10,한국영화를 좋아합니다. 그중에 청연과 홍반장이 있었는데 하.. 당신의 그 연기같지않...
199896,37716,13690895,psm2****,8,내가 좋아하는배우 김주혁 지금은 고인이 되었지만 제목이 유치해서 영화마저 유치하다 ...
199897,37716,17756451,도로시짱(rest****),10,스토리 연기 다 좋아요드라마 나와서 다시 봐도 좋음 김주혁 엄정화가 주는 감동......
199898,37716,17691152,uchi****,10,정말 웃겼음 웃으면서 기분좋은 영화 유쾌하게
199899,37716,17022722,발그레(hhs4****),10,정말 많이 봤다..그래도 재밋다..

In [72]:
comment.to_csv('./m_comment.csv', index=False)