In [69]:
# 주석 처리
# 실행 명령은 shift + enter
# 연속 실행은 control + enter
print('Hello World!')

Hello World!

In [29]:
# 세미콜론
print('Hello!');print('1234')

Hello!
1234

In [12]:
print('1234')

1234

In [56]:
# 들여쓰기
a = 10

if a == 10:
    print('a는 10입니다.')
    print('정말10')
    
print('끝')

a는 10입니다.
정말10
끝

In [91]:
# 사칙연산
1+1 # 덧셈
1-2 # 뺄셈
1*3 # 곱셈
5/2 # 나눗셈
5//2 # 나눗셈의 몫
5%2 # 나눗셈의 나머지

1

In [93]:
# 거듭제곱
2**3

8

In [107]:
# 값을 정수로 만들기
int(3.3)
int(5/2)
int('10')

10

In [120]:
# 객체의 자료형 알아내기
type(10)
type('10')

str

In [126]:
# 몫과 나머지를 함께 구하기
quot, rem = divmod(5, 2)
print(quot, rem)

2 1

In [130]:
# 2진수(0b), 8진수(0o), 16진수(0X)
0b11
0o10
0xF

3
8
15

In [137]:
# 값을 실수로 만들기
float(5)
float('5.3')

float

In [139]:
# 괄호 사용하기
35 + 1 * 2
(35 + 1) * 2

72

In [162]:
# 변수 할당
x = 10
x
y = 'Hello, world!'
y

'Hello, world!'

In [164]:
# 변수의 자료형 알아내기
type(x)
type(y)

str

str

In [165]:
# 변수 여러개를 한 번에 만들기
x, y, z = 10, 20, 30
print(x, y, z)

10 20 30

In [166]:
# 변수의 값이 모두 같을 때
x = y = z = 10
print(x, y, z)

10 10 10

In [167]:
# 변수의 값을 바꿀 때
x, y = 10, 20
x, y = y, x
print(x, y)

20 10

In [168]:
# 변수 삭제하기
x = 10
del x
print(x)

NameError: name 'x' is not defined

In [172]:
# 빈 변수 만들기
x = None
print(x)

None

In [182]:
# 변수로 계산하기
a, b = 10, 20
c = a + b
print(c)

30

In [183]:
# 산술 연산 후 할당 연산자 사용하기
a = 10
a + 20
print(a)

a = 10
a = a + 20
print(a)

a = 10
a += 20 # a = a + 20과 같음
print(a)

10
30
30

In [185]:
# 입력 값 받기
input()

Hello World!

'Hello World!'

In [189]:
# 입력 값 변수에 저장하기
x = input()

Hello World!

In [188]:
x

'Hello, world!'

In [191]:
# 안내 문구 추가
x = input('문자열을 입력하세요: ')

문자열을 입력하세요: Hello, World!

In [192]:
x

'Hello, World!'

In [197]:
# 두 숫자의 합 구하기
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')

print(a+b)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
1020

In [198]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = int(input('두 번째 숫자를 입력하세요: '))

print(a+b)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 200
210

In [209]:
# 입력 값을 변수 두개에 저장하기
a, b = input('문자열 두 개를 입력하세요.').split()
print(a)
print(b)

문자열 두 개를 입력하세요.Hello Python!
Hello
Python!

In [222]:
a, b = 'Hello Python!'.split()
print(a)
print(b)
a, b = ['Hello', 'Python!']
print(a)
print(b)

Hello
Python!
Hello
Python!

In [213]:
x

Hello
Python!

In [223]:
a = 'Hello World'
a.count('l')

3

In [243]:
# map(function, list) 리스트 내용을 하나씩 함수에 넣음
a, b = map(int, input('숫자 두 개를 입력하세요: ').split())
print(a + b)

숫자 두 개를 입력하세요: 10 20
30

In [247]:
# 구분자로 문자열 분리
'H/e/l/l/o'.split('/')
a, b = map(int, input('숫자 두 개를 콤마(,)로 구분하여 입력하세요: ').split(','))
print(a + b)

숫자 두 개를 콤마(,)로 구분하여 입력하세요: 10,20
30

In [1]:
# 변수에 함수도 넣을 수 있다.
k = int
k('10') # int('10')과 같음

10

In [73]:
# 값 출력하기
print('1', '2', '3', sep='\n')
print('4', '5', '6', sep='\t')
print('7', '8', sep='\t' ,end='끝')

1
2
3
4	5	6
7	8끝

In [91]:
# 불과 비교 연산자
# True
# False
# > , <  >=, <=, ==, !=
# 단항연산자: 항이 하나만 필요, 다항연산자: 항이 두개가 필요
print(1 != 2)

True

In [96]:
# is, is not는 객체가 같은지 비교
a = 1
b = 1.0
print('a == b: ', a == b)
print('a is b:', a is b)

a == b:  True
a is b: False

In [126]:
# 논리 연산자
print('True and True: ', True and True, sep='\t\t')
print('True and False: ', True and False, sep='\t')
print('False and True: ', False and True, sep='\t')
print('False and False: ', False and False, sep='\t', end='\n\n')
print('True or True: ', True or True, sep='\t\t')
print('True or False: ', True or False, sep='\t\t')
print('False or True: ', False or True, sep='\t\t')
print('False or False: ', False or False, sep='\t', end='\n\n')
print('not True: ', not True, sep='\t\t')
print('not False: ', not False, sep='\t\t', end='\n\n')

# 우선순위 not, and, or
print(not True and False or not False)
# not True and False or not False
# False and False or True
# False or True
# True
print(not True and False or not False and not True and not False or not True)
#False and False or True and False and True or False
#False or False and True or False
#False or False or False
#False

True and True: 		True
True and False: 	False
False and True: 	False
False and False: 	False

True or True: 		True
True or False: 		True
False or True: 		True
False or False: 	False

not True: 		False
not False: 		True

True
True

In [146]:
# 논리 연산자와 비교 연산자를 한께 사용하기
print('10 == 10 and 10 != 5: ', 10 == 10 and 10 != 5, sep='\t')
print('10 > 5 and 10 < 3:', 10 > 5 and 10 < 3, sep='\t')
print('not 10 > 5: ', not 10 > 5, sep='\t\t')

10 == 10 and 10 != 5: 	True
10 > 5 and 10 < 3:	False
not 10 > 5: 		False

In [150]:
# 단락 평가
# 첫 번째 값만으로 결과가 확실할 때 두 번째 값은 확인하지 않는 방법
# 첫 번째 값만으로 결과가 확실할 때 첫 번째 값을 반환함
# 두 번째 값까지 확인해야 한다면 두 번째 값이 반환됩니다.
print(True and 'Python')
print(False and 'Python')
print('Python' or True)
print('Python' or False)
print(0 and 'Python')

Python
False
Python
Python
0

In [183]:
# 문자열 사용하기
msg = "He's Legendo"
print(msg)
msg2 = 'He is "Legendo"'
print(msg2)
msg3 = 'He\'s "Legendo"'
print(msg3)
msg4 = '''He
is
Legendo
'''
print(msg4)

He's Legendo
He is "Legendo"
He's "Legendo"
He
is
Legendo

In [205]:
# 리스트
a = [38, 21, 53, 62, 19]
print(a)
person = ['james', 17, 175.3, True]
print(person)

[38, 21, 53, 62, 19]
['james', 17, 175.3, True]

In [206]:
# 빈 리스트 만들기
a = []
print(a)
b = list()
print(b)
# range를 사용하여 리스트 만들기
# range(시작, 끝, 증가폭)
c = list(range(10))
print(c)
d = list(range(5, 12))
print(d)
e = list(range(-4, 10, 2))
print(e)
f = list(range(10, 0, -1))
print(f)

[]
[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[-4, -2, 0, 2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [207]:
# 튜플: 저장된 요소를 변경, 추가, 삭제를 할 수 없음
a = (38, 21, 53, 62, 19)
print(a)
person = ('james', 17, 175.3, True)
print(person)

(38, 21, 53, 62, 19)
('james', 17, 175.3, True)

In [227]:
# 요소가 한 개 들어있는 튜플
a = (38,)
a
# 리스트를 튜플로 만들기
b = list(range(10))
b = tuple(b)
b

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [228]:
# 특정 값이 있는지 확인
a = [0, 10, 20, 30, 40]
30 in a
100 not in a
b = 'Hello'
'h' in b

False

In [255]:
# 시퀀스 객체 연결하기
a = list(range(0, 40, 10))
b = list(range(9, 5, -1))
print(a + b)
c = 'Hello, '
d = 'World!'
print(c + d)
# range(0,3) + range(3,7): X
list(range(0,3)) + list(range(3,7))

[0, 10, 20, 30, 9, 8, 7, 6]
Hello, World!

[0, 1, 2, 3, 4, 5, 6]

In [257]:
# 시퀀스 객체 반복하기
a = list(range(0, 40, 10))
print(a*3) # a + a + a
# range(0, 40, 10) * 3: X
list(range(0, 40, 10)) * 3

b = 'Hello, '
print(b*4)

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]
Hello, Hello, Hello, Hello,

In [258]:
# 시퀀스 객체의 요소 개수 구하기
a = list(range(0, 100, 10))
print(len(a))
print(len(range(0, 10, 2))) # len(range(0, 10, 2)): O

10
5

In [268]:
# 인덱스
a = [38, 21, 53, 62, 19]
print(a[0], a[2], a[4])
b = (38, 21, 53, 62, 19)
print(b[0], b[3])
c = range(0, 10, 2)
print(c[3]) # range()[]: O
d = 'Hello, world!'
print(d[7])

38 53 19
38 62
6
w

In [272]:
# __getitem__메세드
a = [38, 21, 53, 62, 19]
a.__getitem__(2)

53

In [274]:
# 음수 인덱스
a = [38, 21, 53, 62, 19]
a[-1]

# 마지막 요소에 접근하기
a[len(a)-1]

19

In [279]:
# 요소에 값 할당하기
a = [0, 0, 0]
a[0] = 38
a[1] = 21
a[2] = 53
print(a)
# a[4] = 33: 범위를 벗어난 인덱스에 값을 할당하여 에러 발생
b = (0, 0, 0)
# b[0] = 38: tuple 객체는 값 할당을 지원하지 않음
c = range(0, 10, 2)
# c[0] = 3: range 객체는 값 할당을 지원하지 않음
d = 'Hello, world!'
# d[0] = 'A': str 객체는 값 할당을 지원하지 않음

[38, 21, 53]

In [280]:
# 요소 삭제하기
a = [38, 21, 53, 62, 19]
del a[2]
a
b = (38, 21, 53, 62, 19)
# del b[2]: tuple 객체는 값 삭제를 지원하지 않음
c = range(0, 10, 2)
# del c[2]: range 객체는 값 삭제를 지원하지 않음
d = 'Hello, world!'
# del d[2]: str 객체는 값 삭제를 지원하지 않음

[38, 21, 62, 19]

In [292]:
# 슬라이스
a = list(range(0, 100, 10))
print(a[0:4]) # 끝 인덱스는 가져오려는 범위에 포함되지 않음
print(a[4:-1]) # 음수 인덱스 사용가능
print(a[2:8:3]) # 인덱스 2부터 3씩 증가시키면서 인덱스 7까지 가져옴
print(a[:7]) # 시작 인덱스를 생략하면 처음 요소부터 가져옴
print(a[7:]) # 끝 인덱스를 생략하면 마지막 요소까지 가져옴
print(a[-1:4:-1])
print(a[::-1])

[0, 10, 20, 30]
[40, 50, 60, 70, 80]
[20, 50]
[0, 10, 20, 30, 40, 50, 60]
[70, 80, 90]
[90, 80, 70, 60, 50]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [295]:
# del로 슬라이스 삭제하기
a = list(range(0, 100, 10))
del a[2:5]
print(a)
b = list(range(0, 100, 10))
del b[2:7:2]
print(b)

[0, 10, 50, 60, 70, 80, 90]
[0, 10, 30, 50, 70, 80, 90]

In [297]:
# 딕셔너리 사용하기
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux['health']

490

In [312]:
# dict로 딕셔너리 만들기
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)
print(lux1)
lux2 = dict(zip(['health', 'mana', 'melee','armor'],[490, 334, 550, 18.72]))
print(lux2)
lux3 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])
print(lux3)
lux4 = dict({'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72})
print(lux4)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [313]:
# 딕셔너리의 키에 값 할당하기
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux['mana'] = 1184
lux['mana_regen'] = 3.28
lux

{'health': 490, 'mana': 1184, 'melee': 550, 'armor': 18.72, 'mana_regen': 3.28}

In [322]:
# 딕셔너리에 키가 있는지 확인하기
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
print('health' in lux)
print('attack_speed' not in lux)
print(334 in lux)

True
True
False

In [323]:
# 딕셔너리의 키 개수 구하기
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
len(lux)

4

In [339]:
# 조건문
x = 10

if x == 10:
    print('x는 10')

x는 10

In [347]:
# 사용자가 입력한 값에 조건문 사용하기
x = int(input())

if x > 0:
    print('x는 양수 입니다.')
elif x < 0:
    print('x는 음수 입니다.')
else:
    print('x는 0입니다.')

-1
x는 음수 입니다.

In [376]:
# 반복문(for)
count = int(input('반복할 횟수를 입력하세요: '))
for i in range(count):
    print('Hello World!',i+1 , sep=' : ')
print('End')

반복할 횟수를 입력하세요: 2
Hello World! : 1
Hello World! : 2
end

In [381]:
# 반복문 (while)
i = 0
while i < 5:
    print('Hello World!', i+1, sep=" : ")
    i += 1
print('End')

Hello World! : 1
Hello World! : 2
Hello World! : 3
Hello World! : 4
Hello World! : 5
end

In [383]:
end = int(input())

i = 0
while i < end:
    print('Hello World!')
    i += 1
    
print('End')

3
Hello World!
Hello World!
Hello World!
End

In [395]:
# 연습
x = int(input('몇번 돌리고 싶으세요: '))

for i in range(x):
    y = int(input('몇번하고 싶으세요: '))
    for j in range(y):
        print('\tHello World!', str(i+1)+'의 '+str(j+1)+'번째', sep='\t')
print('End')

몇번 돌리고 싶으세요: 3
몇번하고 싶으세요: 2
	Hello World!	1의 1번째
	Hello World!	1의 2번째
몇번하고 싶으세요: 5
	Hello World!	2의 1번째
	Hello World!	2의 2번째
	Hello World!	2의 3번째
	Hello World!	2의 4번째
	Hello World!	2의 5번째
몇번하고 싶으세요: 1
	Hello World!	3의 1번째
End

In [397]:
# 연습 2
x = int(input('몇번 돌리고 싶으세요: '))

i = 0
while i < x:
    y = int(input('몇번하고 싶으세요: '))
    j = 0;
    while j < y:
        print('\tHello World!', str(i+1)+'의 '+str(j+1)+'번째', sep='\t')
        j += 1
    i += 1
print('End')

몇번 돌리고 싶으세요: 3
몇번하고 싶으세요: 2
	Hello World!	1의 1번째
	Hello World!	1의 2번째
몇번하고 싶으세요: 1
	Hello World!	2의 1번째
몇번하고 싶으세요: 3
	Hello World!	3의 1번째
	Hello World!	3의 2번째
	Hello World!	3의 3번째
End

In [7]:
# 난수 생성
import random

In [6]:
random.random()

NameError: name 'random' is not defined

In [67]:
# 로또 번호 뽑기
allNumber = list(range(1, 46))
selectNumber = []
for i in range(0, 6):
    thisNumber = random.randint(1, len(allNumber)) - 1
    selectNumber.append(allNumber[thisNumber])
    allNumber.pop(thisNumber)

selectNumber.sort()
print(selectNumber)

[4, 12, 19, 20, 23, 35]

In [450]:
# break로 반복문 제어
i = 0
while True: # 무한 루프
    print(i)
    i += 1
    if i == 5:
        break

0
1
2
3
4

In [461]:
# continue로 반복문 제어
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [468]:
# 계단식으로 별 출력하기
for i in range(5):
    print('*'*(i+1))

*
**
***
****
*****

In [501]:
# 계단식으로 별 출력하기 2
for i in range(5):
    for j in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [518]:
# 계단식으로 별 출력하기 3
for i in range(5):
    for j in range(5):
        if i >= j:
            print('*', end='')
    print()

*
**
***
****
*****

In [520]:
# 계단식으로 별 출력하기 4
for i in range(5):
    for j in range(5):
        if i <= j:
            print('*', end='')
        else :
            print(' ', end='')
    print()

*****
 ****
  ***
   **
    *

In [503]:
# 대각선으로 별 출력하기
for i in range(5):
    for j in range(5):
        if i == j:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
 *
  *
   *
    *

In [517]:
# X로 별 출력하기
for i in range(5):
    for j in range(5):
        if i == j or i + j == 4:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*   *
 * *
  *
 * *
*   *

In [1]:
# 산모양으로 별 출력하기
x = int(input('산의 높이를 설정해주세요: '))
for i in range(x):
    for j in range(2*x):
        if j >= x - i and j <= x + i:
            print('*', end='')
        else : 
            print(' ', end='')
    print()

산의 높이를 설정해주세요: 5
     *
    ***
   *****
  *******
 *********

In [539]:
# 터틀 그래픽스로 그림 그리기
import turtle as t

In [29]:
# 리스트에 요소 하나를 추가
a = [10, 20, 30]
a.append(500)
print(a)
print(len(a))

[10, 20, 30, 500]
4

In [13]:
# 사용할 수 있는 함수의 목록
# dir(a)
# a.__dir__()

In [30]:
# 리스트에 리스트를 추가
a = [10, 20, 30]
a.append([500, 600])
print(a)
print(len(a))
print(a[3][1])

[10, 20, 30, [500, 600]]
4
600

In [31]:
# 리스트 확장하기
a = [10, 20 ,30]
a.extend([500, 600])
print(a)
print(len(a))

[10, 20, 30, 500, 600]
5

In [32]:
# 리스트의 특정 인덱스에 요소 추가하기
a = [10, 20, 30]
a.insert(2, 500)
print(a)
print(len(a))

[10, 20, 500, 30]
4

In [36]:
# 리스트 맨 뒤에 요소 추가
a = [10, 20, 30]
a.insert(len(a), 500)
print(a)
print(len(a))

b = [10, 20, 30]
b.insert(1, [500, 600])
print(b)

[10, 20, 30, 500]
4
[10, [500, 600], 20, 30]

In [39]:
# 슬라이스를 사용하여 특정 인덱스에 요소추가
a = [10, 20, 30]
a[1:1] = [500, 600]
print(a)

[10, 500, 600, 20, 30]

In [44]:
# 리스트에서 마지막 인덱스의 요소를 삭제하기
a = [10, 20, 30]
a.pop()
print(a)

# 리스트에서 특정 인덱스의 요소를 삭제하기
b = [10, 20, 30]
b.pop(1) # del b[1]과 같음
print(b)

[10, 20]
[10, 30]

In [47]:
# 리스트에서 특정 값을 찾아서 삭제하기
a = [10, 20, 30]
a.remove(20)
print(a)

b = [10, 20, 30, 20]
b.remove(20)
print(b)

[10, 30]
[10, 30, 20]

In [50]:
# FILO(Frist In Last Out)
a = []
cnt = int(input("몇개의 값을 입력하시나요: "))
for i in range(cnt):
    val = int(input("값을 입력해주세요: "))
    a.append(val)
    print(i+1,"번째 값입력됨")

print("입력된 값을 스택구조로 출력하겠습니다.")

for i in range(len(a)):
    print(a.pop())

몇개의 값을 입력하시나요: 5
값을 입력해주세요: 1
0 번째 값입력됨
값을 입력해주세요: 2
1 번째 값입력됨
값을 입력해주세요: 3
2 번째 값입력됨
값을 입력해주세요: 4
3 번째 값입력됨
값을 입력해주세요: 5
4 번째 값입력됨
입력된 값을 수택구조로 출력하겠습니다.
5
4
3
2
1

In [59]:
# FIFO(Frist In Frist Out)
a = []
cnt = int(input("몇개의 값을 입력하시나요: "))
for i in range(cnt):
    val = int(input("값을 입력해주세요: "))
    a.append(val)
    print(i+1,"번째 값입력됨")

print("입력된 값을 스택구조로 출력하겠습니다.")

for i in range(len(a)):
    print(a.pop(0))

몇개의 값을 입력하시나요: 5
값을 입력해주세요: 1
1 번째 값입력됨
값을 입력해주세요: 2
2 번째 값입력됨
값을 입력해주세요: 3
3 번째 값입력됨
값을 입력해주세요: 4
4 번째 값입력됨
값을 입력해주세요: 5
5 번째 값입력됨
입력된 값을 스택구조로 출력하겠습니다.
1
2
3
4
5

In [61]:
# 리스트에서 특정 값의 인덱스 구하기
a = [10, 20, 30, 15, 20, 40]
a.index(20)

1

In [62]:
# 리스트에서 특정 값의 개수 구하기
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [64]:
# 리스트의 순서를 뒤집기
a = [10, 20, 30, 15, 20, 40]
a.reverse()
a

[40, 20, 15, 30, 20, 10]

In [83]:
# 리스트의 요소를 정렬하기
a = [10, 20, 30, 15, 20, 40]
a.sort() # a의 내용을 변경하여 저장
print(a)
a.sort(reverse=True) # 내림차순
print(a)
b = sorted(a) # 정렬된 새 리스트를 생성
print(b)

[10, 15, 20, 20, 30, 40]
[40, 30, 20, 20, 15, 10]
[10, 15, 20, 20, 30, 40]

In [81]:
# 리스트의 모든 요소를 삭제
a = [10, 20, 30]
a.clear() # del a[:]과 같음
a

[]

In [112]:
a = [0, 0, 0, 0, 0]
b = a
print('a is b: ', a is b)
print('a == b: ', a == b)
c = a.copy()
print('a is c: ', a is c)
print('a == c: ', a == c)

print('a\'s ID: ', id(a))
print('b\'s ID: ', id(b))
print('c\'s ID: ', id(c))

a is b:  True
a == b:  True
a is c:  False
a == c:  True
a's ID:  140671078389952
b's ID:  140671078389952
c's ID:  140671078390592

In [116]:
# 인덱스와 요소를 함께 출력하기
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a, start = 1):
    print(index, value)

1 38
2 21
3 53
4 62
5 19

In [118]:
a = [38, 21, 53, 62, 19]
i = 0
while i < len(a):
    print(a[i])
    i += 1

38
21
53
62
19

In [128]:
# 최소값 최대값 구하기
print('반복문을 이용하여 구하기')
a = [38, 32, 53, 62, 19]
smallest = a[0]
i = 1
while i < len(a):
    if smallest > a[i]:
        smallest = a[i]
    i += 1

print('min: ', smallest)

largest = a[0]
for i in a:
    if i > largest:
        largest = i
print('max: ', largest)

print('\n정렬을 이용하여 구하기')
a.sort()
print('min: ', a[0])
a.sort(reverse=True)
print('max: ', a[0])

print('\n함수를 이용하여 구하기')
print('min: ', min(a))
print('max: ', max(a))

# 요소의 합계 구하기
print('\n합 구하기')
print('sum: ', sum(a))

반복문을 이용하여 구하기
min:  19
max:  62

정렬을 이용하여 구하기
min:  19
max:  62

함수를 이용하여 구하기
min:  19
max:  62

합 구하기
sum:  204

In [151]:
a = [i for i in range(1,6)]
b = [i * 2 for i in range(1,6)]
c = [i for i in range(10) if i % 2 == 0]
d = [j * i for j in range(2,10) for i in range(1,10)]
print(a)
print(b)
print(c)
print(d)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[0, 2, 4, 6, 8]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [162]:
a = [
        [10, 20],
        [30, 40],
        [50, 60]
    ]
a[2][1] = [100, 200]
a

[[10, 20], [30, 40], [50, [100, 200]]]

In [171]:
# 반복문으로 2차원 리스트의 요소를 모두 출력하기
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a:
    print(x, y)
    
b = [[10, 20, 30], [40, 50, 60], [70, 80, 90]]
for x, y, z in b:
    print(x, y, z)

10 20
30 40
50 60
10 20 30
40 50 60
70 80 90

In [173]:
# 리스트 표현식으로 2차원 리스트 만들기
a = [[ 0 for j in range(2)] for i in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [177]:
a = [[10, 20], [30, 40]]
b = a.copy()
b[0][0] = 500
print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

In [180]:
import copy
a = [[10, 20], [30, 40]]
b = copy.deepcopy(a)
b[0][0] = 500
print(a)
print(b)

[[10, 20], [30, 40]]
[[500, 20], [30, 40]]

In [186]:
# 문자열 바꾸기
s = 'Hello, World!'
s = s.replace('World', 'Python')
print(s)

Hello, Python!

In [191]:
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

In [192]:
# 문자열 분리하기
'apple pear grape pinepple orange'.split()

['apple', 'pear', 'grape', 'pinepple', 'orange']

In [197]:
# 구분자 문자열과 문자열 리스트 연결하기
'-'.join(['apple', 'pear', 'grape', 'pinepple', 'orange'])

'apple-pear-grape-pinepple-orange'

In [216]:
# 소문자를 대문자로 바꾸기
'python'.upper()
# 대문자를 소문자로 바꾸기
'PYTHON'.lower()
# 왼쪽 공백 삭제하기
'    Python    '.lstrip()
# 오른쪽 공백 삭제하기
'    Python    '.rstrip()
# 양쪽 공백 삭제하기
'    Python    '.strip()
# 왼쪽 특정 문자 삭제하기
', Python.'.lstrip(',.')
# 오른쪽 특정 문자 삭제하기
', Python.'.rstrip(',.')
# 양쪽 특정 문자 삭제하기
', Python.'.strip(',.')
# 문자열을 왼쪽으로 정렬하기
'python'.ljust(10)
# 문자열을 오른쪽으로 정렬하기
'python'.rjust(10)
# 문자열을 중앙으로 정렬하기
'python'.center(10)

'  python  '

In [217]:
# 매서드 체이닝
'python'.center(10).upper()

'  PYTHON  '

In [233]:
# 서식 지정자로 문자열 안에 값 여러 개 넣기
'Today is %s %d일. 파이는 %f' % ('9월', 15, 3.141592)

'Today is 9월 15일. 파이는 3.141592'