In [4]:
from xml.etree.ElementTree import *
import pandas as pd

In [17]:
tree = parse('country_data.xml')
tree, type(tree)

(<xml.etree.ElementTree.ElementTree at 0x7fed998e9520>,
 xml.etree.ElementTree.ElementTree)

In [18]:
root = tree.getroot()
root, type(root)

(<Element 'data' at 0x7fed9954ddb0>, xml.etree.ElementTree.Element)

In [21]:
for child in root:
    print(child, child.tag, child.attrib)

<Element 'country' at 0x7fed9954d270> country {'name': 'Liechtenstein'}
<Element 'country' at 0x7fed9955d8b0> country {'name': 'Singapore'}
<Element 'country' at 0x7fed9955da40> country {'name': 'Panama'}

In [28]:
country_list = root.findall('country')
country_list[0]

In [29]:
country_list[0].get('name')

'Liechtenstein'

In [41]:
for country in country_list:
    print(country.tag, '\t', country.attrib['name'], '\t', country.get('name'))
    print('='*50)

country 	 Liechtenstein 	 Liechtenstein
==================================================
country 	 Singapore 	 Singapore
==================================================
country 	 Panama 	 Panama
==================================================

In [51]:
for country in country_list:
    print(country.find('rank').tag, country.find('rank').text)
    print(country.find('year').tag, country.find('year').text)
    print(country.find('gdppc').tag, country.find('gdppc').text)
    print(country.findall('neighbor')[0].tag, country.findall('neighbor')[0].get('name'), country.findall('neighbor')[0].get('direction'))
    print('='*50)

rank 1
year 2008
gdppc 141100
neighbor Austria E
==================================================
rank 4
year 2011
gdppc 59900
neighbor Malaysia N
==================================================
rank 68
year 2011
gdppc 13600
neighbor Costa Rica W
==================================================

In [54]:
country_list2 = []
for country in country_list:
    rank = country.find('rank').text
    year = country.find('year').text
    gdppc = country.find('gdppc').text
    country_list2.append([rank, year, gdppc])
    
country_list2

[['1', '2008', '141100'], ['4', '2011', '59900'], ['68', '2011', '13600']]

In [57]:
df_country = pd.DataFrame(country_list2, columns = ['rank', 'year', 'gdppc'])
df_country

  rank  year   gdppc
0    1  2008  141100
1    4  2011   59900
2   68  2011   13600